<app-navigation-bar></app-navigation-bar>
<mat-tab-group>
    <mat-tab label="UPDATE PROFILE">
        <mat-card>
            <mat-card-content class="update-profile-form">
                <form>
                    <mat-form-field>
                        <input matInput [(ngModel)]="userInput.Username" placeholder="Username" type="text" name="Username"
                            required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="userInput.Password" type="password" placeholder="Password" name="PasswordUpdate"
                            required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="userInput.Email" type="email" placeholder="Email" name="Email"
                        required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="userInput.Birth_Date" type="date" name="Birthday">
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary" (click)="onUserUpdate()">
                    UPDATE PROFILE
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>
    <mat-tab label="DELETE ACCOUNT">
        <div class="delete-button-wrapper">
            <button mat-flat-button class="delete-account-button" color="warn" (click)="onDeleteAccount()">
                DELETE ACCOUNT
            </button>
        </div>
    </mat-tab>
</mat-tab-group>