<app-navigation-bar></app-navigation-bar>
<mat-tab-group>
    <mat-tab label="Update Profile">
        <mat-card>
            <mat-card-content class="update-profile-form">
                <mat-form-field>
                    <input matInput [(ngModel)]="userInput.Username" placeholder="Username" type="text" name="Username"
                        required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="userInput.Password" type="password" placeholder="Password" name="PasswordUpdate"
                        required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="userInput.Email" type="email" placeholder="Email" name="Email"
                    required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="userInput.Birth_Date" type="date" name="Birthday">
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="onUserUpdate()">
                    Update Profile
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>
    <mat-tab label="Delete Account">

    </mat-tab>
</mat-tab-group>