.movie-cards-container {
    flex-wrap: wrap;
}

.movie-card {
    margin: 10px;
    width: 280px;
    max-width: 280px;
    align-items: center;
    justify-content: space-between;
}

mat-card-header {
    width: 90%;
    background-color: #212121;
    min-height: 125px;
}

.genre-button {
    margin: 5px;
}

.favorites-list-toggle {
    margin: 10px;
}